body {
  background-image: url('./img/background.jpg');
  background-size: cover;
}

header {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 1.4vw;
  align-items: center;
  margin-top: 30px;
}

#logo {
  background-image: url('./img/Pokemon-Logo.png');
  background-size: contain;
  width: 4vw;
  height: 4vw;
  margin: 0 70px 0 20px;
}

#pokemonCards {
  margin: 50px 20px 0 20px;
  width: 96%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-bottom: 3vw;
}

.pokemonImg {
  height: 9vw;
}

.features {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5vw;
  font-weight: 600;
  margin-top: 1vw;
}

.likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

.like {
  background-image: url('./img/bx-heart.svg');
  background-size: 2vw;
  width: 2.1vw;
  height: 2.2vw;
  border: none;
  background-color: transparent;
}

.like:active {
  background-image: url('./img/bxs-heart.svg');
}

.comments {
  font-size: 1.3vw;
  padding: 0 0.5vw 0 0.5vw;
  margin-top: 1vw;
}

footer {
  position: absolute;
  bottom: 5px;
  font-weight: 600;
  font-size: 1vw;
  color: rgb(255, 222, 123);
  border: 1px solid black;
  width: 99%;
}

footer p {
  margin-left: 15px;
}

/* --------------------------
----POPUP--------------------
-------------------------- */

.popup-container {
  background-color: #fff;
  color: #000;
  position: fixed;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 50px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
  padding-right: 40px;
  overflow-y: scroll;
  box-shadow: 10px 10px 10px #d3d3d3;
}

.card-img {
  align-self: center;
  margin-top: 10px;
}

.card-name {
  font-family: 'Playfair Display', 'Helvetica', 'Arial', sans-serif;
  font-size: 35px;
  margin: 0;
}

ul {
  padding: 0;
}

.card-items {
  margin-top: 0;
  margin-bottom: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', 'Helvet', 'Arial', sans-serif;
}

.comments-title {
  margin: 0;
  font-family: 'Poppins', 'Helvet', 'Arial', sans-serif;
  font-size: 17px;
}

.my-form {
  display: flex;
  flex-direction: column;
}

.comments-cont {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: 'Poppins', 'Helvet', 'Arial', sans-serif;
  margin-top: 0;
  margin-bottom: 50px;
}

.comment {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 10px 2px 10px #858484;
}

.closing-button {
  position: absolute;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.closing-button-x {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 768px) {
  body {
    background-size: contain;
  }

  header {
    font-size: 3.4vw;
    justify-content: center;
  }

  #logo {
    width: 10vw;
    height: 10vw;
    margin: 0 70px 0 20px;
  }

  .cards {
    width: 100%;
    margin: 3vw 0 3vw 0;
  }

  .features {
    font-size: 3.5vw;
    font-weight: 600;
    margin-top: 1vw;
  }

  .pokemonImg {
    height: 28vw;
  }

  .like {
    background-size: 4vw;
    width: 4.2vw;
    height: 4.2vw;
  }

  .comments {
    font-size: 2.7vw;
    padding: 0 0.5vw 0 0.5vw;
    margin-top: 1vw;
  }

  footer {
    position: relative;
    font-size: 3vw;
  }
}